NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=your_project_id_here
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_AI_API_URL=https://ai.trestle.website
NEXT_PUBLIC_REWARD_API_URL=https://reward-api.trestle.website
